<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (title === 'Management') { %>
        <div>
            <a href="/inv/add-classification" class="btn btn-primary">Add New Classification</a>
            <a href="/inv/add-inventory" class="btn btn-primary">Add New Inventory</a>
        </div>
    <% } %>