<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (title === 'Management') { %>
        <div>
            <a href="/inv/add-classification" class="btn btn-primary">Add New Classification</a>
            <a href="/inv/add-inventory" class="btn btn-primary">Add New Inventory</a>
            <h2>Manage Inventory</h2>
            <p>Please Select from the classification list to display all inventory of that classification.</p>
            <%- classList %>
            <table id="inventoryDisplay"></table>
            <noscript>JavaScript must be enabled to use this page.</noscript>
            <script src="../../js/inventory.js"></script>
        </div>
    <% } %>